@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&display=swap');

body {
    /* Credit: https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css */
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */

    font-family: 'Azret Mono', monospace;

    overflow: hidden;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    z-index: -1;
}

.content {
    /* Center text */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    background-color: #505050a0;

    display: block;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 40px;

    /* all lowercase cuz looks cooler B) */
    text-transform: lowercase;
}

.controls {
    font-size: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;

    text-align: left;

    border-style: solid;
    border-radius: 10px;
    border-color: #ffffff60;
    border-spacing: medium;
}

.control-key {
    margin-left: 10px;
    font-style: italic;
    text-align: right;
}

h1 {
    font-weight: bold;
    font-size: 64px;
}

.main-header {
    bottom: -7.5px !important;
}

a {
    color: white;
}


#settings-button {
    position: fixed;
    left: 100%;
    transform: translateX(-110%);
    z-index: 2;
}

@keyframes settings-entrance {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes settings-exit {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes overlay-entrance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes overlay-exit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.overlay {
    display: none;
    position: fixed;
    /*display: none;*/
    background-color: rgba(0,0,0,0.6);
    animation-name: overlay-entrance;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1.5;
}

div.settings {
    display: none !important;

    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;

    color: white;
    text-align: right;

    font-size: 125%;

    animation-name: settings-entrance;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

.settings-form {
    position: absolute;
    display: inline-block;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.settings-form-form, #settings-form-table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#settings-form-table {
    text-align: right;

    border-style: solid;
    border-radius: 10px;
    border-color: #ffffff60;
    border-spacing: medium;
}

input {
    background: transparent;
    width: 50px;

    border-style: solid;
    border-radius: 5px;
    border-color: white;

    color: white !important;
    font-family: 'Azret Mono', monospace;
}
